$color-background: #f3f3f3 !default;
$color-main: #e59336 !default;
$color-gray01: #666 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;
$color-extra01: #bcd955 !default;
$color-extra02: #73b1bf !default;
$color-extra03: #524d73 !default;