---
layout: default
---

<div class="bigbox">
  <div align="center">
    <h1>Cinemaker Cinemon Stick 2.0</h1>
    <h2>an open hardware video camera slider</h2>
    <img src="/images/2013-01/2013-01-20-cinemon-stick-overview.jpg" />
  </div>

  <div class="infobox">
    <p>Videographers need a high quality camera slider that is easy to use and tweak. We think it can be sold at <span class="highlight">1/3rd the price</span>, while improving the design at the same time.</p>
    <p><span class="highlight">Are you interested?</span> Be an early builder and adopter.</p>
  </div>
</div>
<div class="bigbox">
  <a class="button orange" href="http://eepurl.com/rfC1D">Join the Announcement List</a>
  <div class="between">or</div>
  <a class="button green" href="http://groups.google.com/group/maker-slider">Join the Discussion Group</a>
  <div class="between">or</div>
  <a class="button blue" href="mailto:canadaduane@gmail.com">Contact Duane</a>
</div>

<div class="partition"></div>

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post">{% include article.html %}</article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
    <div class="center"><a href="{{ root_url }}/blog/archives">Blog Archives</a></div>
</nav>