// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.logo {
  width: 140px;
  float: left;
  margin-top: -12px;
  margin-right: 10px;
}

.gallery {
  margin-top: 2em;
  margin-bottom: 2em;
}