// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.logo {
  width: 140px;
  float: left;
  margin-top: -12px;
  margin-right: 10px;
}

.gallery {
  margin-top: 2em;
  margin-bottom: 2em;
}

.bigbox {
  position: relative;

  h1, h2 {
    font-weight: 300;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0.5em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .button {
    float: left;
    border-radius: 5px;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    margin: 5px 10px;
    text-align: center;
  }

  .blue {
    background-image: -webkit-linear-gradient(top, $color-extra02, darken($color-extra02, 20%));
    background-image: -o-linear-gradient(top, $color-extra02, darken($color-extra02, 20%));
    background-image: linear-gradient(to bottom, $color-extra02, darken($color-extra02, 20%));
  }

  .green {
    background-image: -webkit-linear-gradient(top, $color-extra01, darken($color-extra01, 20%));
    background-image: -o-linear-gradient(top, $color-extra01, darken($color-extra01, 20%));
    background-image: linear-gradient(to bottom, $color-extra01, darken($color-extra01, 20%));
  }

  .orange {
    background-image: -webkit-linear-gradient(top, $color-main, darken($color-main, 20%));
    background-image: -o-linear-gradient(top, $color-main, darken($color-main, 20%));
    background-image: linear-gradient(to bottom, $color-main, darken($color-main, 20%));
  }

  
  .between {
    float: left;
    width: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .infobox {
    @media screen and (min-width: 960px){
      position: absolute;
      bottom: 50px;
      right: 30px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 1.5em;
      border-radius: 15px;
      width: 290px;
      letter-spacing: 1px;
    }

    .highlight {
      color: $color-extra01;
      @media screen and (max-width: 960px){
        font-weight: bold;
        color: $color-main;
      }
    }
  }
}

.partition {
  margin-bottom: 1em;
  clear: both;
}
